{{!-- 4. create routes folder and routes for website pages. create views folder and .hbs files.Render hbs files. check browser to see if pages are rendering.
    1. create layout.hbs, add boiletplate html and {{{body}}} --}}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Auth Practice</title>
</head>
<body>
    


    {{{body}}}
</body>
</html>